* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firework:after {
    content: url("https://i.pinimg.com/originals/a1/e6/00/a1e60081144310aa9e4b2536dd484585.jpg");
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 38.25%);
    text-align: center;
}

h4 {
    font-size: 40px;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.firework {
    display: none;
}

.deadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deadline-format {
    display: inline-block;
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    color: #183059;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.deadline-format:nth-child(1) {
    background-color: #ef2f3c;
}

.deadline-format:nth-child(2) {
    background-color: #f6f4f3;
}
.deadline-format:nth-child(3) {
    background-color: #276fbf;
}
.deadline-format:nth-child(4) {
    background-color: #f0a202;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}
form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .deadline {
        flex-direction: column;
    }
    .deadline .deadline-format {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .deadline .deadline-format > span {
        font-size: 18px;
    }
}
